@charset "UTF-8";
body {
  font-family: "Book Antiqua";
  background-color: whitesmoke;
  color: #333333;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-animation: fadeIn 1s ease 0.3s;
          animation: fadeIn 1s ease 0.3s;
}

@-webkit-keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /*animetion-nameで設定した値を書く*/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  height: 70px;
}

header .title {
  float: left;
  padding-left: 3%;
  font-size: 120%;
  color: forestgreen;
  text-shadow: 5px 5px 1px rgba(240, 240, 144, 0.673);
  -webkit-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease;
  margin-bottom: 10px;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

header .title:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .header {
  float: right;
}

header .header a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #333333;
  margin-bottom: 5px;
}

header .header a:hover {
  opacity: 0.7;
  cursor: pointer;
  border-bottom: 1px grey solid;
}

header .header a:active {
  color: #333333;
}

header .clear {
  clear: right;
  clear: left;
}

body div {
  position: relative;
}

body div .park {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 70%;
     object-position: 0 70%;
}

body div .kiss {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 30%;
     object-position: 0 30%;
}

body div .inimg {
  width: 200px;
  height: 20%;
  opacity: 0.8;
  background: #fff;
  position: absolute;
  top: 10%;
  right: 10%;
  border-top: 4px forestgreen solid;
  text-align: center;
}

body div .inimg:hover {
  background-color: black;
  color: white;
}

body div .img-kiss {
  top: 60%;
  right: 10%;
  background-color: black;
  height: 25%;
  color: yellow;
  width: 200px;
}

body div .img-kiss:hover {
  background-color: white;
  color: orange;
}

body .couple-title {
  text-align: center;
  font-size: 200%;
}

body .couple-name {
  text-align: center;
  color: forestgreen;
  font-size: 130%;
}

body .couple-contents {
  width: 95%;
  height: 300px;
  background: #fff;
  border: 2px #E6E6E6 solid;
  border-top: 4px forestgreen solid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

body .couple-contents .couple-img {
  display: inline-block;
  margin: 0.5%;
  width: 40%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px grey solid;
}

body .couple-contents .couple-img:hover {
  opacity: 0.6;
}

body .couple-contents .couple-right {
  width: 55%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

body .couple-contents .couple-right .couple-subtitle {
  display: inline-block;
  font-size: 120%;
  border-bottom: 1px forestgreen dashed;
}

body .couple-contents .couple-right .couple-subcontents {
  display: inline-block;
}

body .couple-contents .couple-right .inline {
  position: relative;
  display: inline-block;
}

body .couple-contents .couple-right .inline .couple-first {
  display: inline-block;
  width: 25%;
  margin-right: 5%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px grey solid;
}

body .couple-contents .couple-right .inline .couple-first:hover {
  opacity: 0.6;
}

body .couple-contents .couple-right .inline .couple-half {
  display: inline-block;
  width: 25%;
  margin-right: 5%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px grey solid;
}

body .couple-contents .couple-right .inline .couple-half:hover {
  opacity: 0.6;
}

body .couple-contents .couple-right .inline .couple-year {
  display: inline-block;
  width: 25%;
  margin-right: 5%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px grey solid;
}

body .couple-contents .couple-right .inline .couple-year:hover {
  opacity: 0.6;
}

body .couple-contents .couple-right .inline .inline-p {
  display: inline-block;
  width: 25%;
  margin-right: 5%;
  font-size: 80%;
}

body .news {
  background-color: white;
  height: 500px;
}

body .news .scroll {
  margin-left: 5%;
  margin-right: 5%;
  height: 180px;
  overflow: scroll;
}

body .news .scroll .news-contents {
  border-bottom: 1px solid #CCCCCC;
}

body .mina {
  position: relative;
  padding-top: 0;
}

body .mina .mina-back {
  margin-top: 0;
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 0%;
     object-position: 20% 0%;
}

body .mina .mina-title {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 200%;
  color: white;
}

body .mina .mina-subtitle {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 130%;
  color: white;
}

body .mina .mina-contents {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 90%;
  height: 400px;
  background-color: white;
}

body .mina .mina-contents .mina-img {
  display: inline-block;
  vertical-align: top;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 10%;
     object-position: 0 10%;
}

body .mina .mina-contents .mina-right {
  vertical-align: top;
  margin-top: 5%;
  width: 50%;
  display: inline-block;
}

body .mina .mina-contents .mina-right .mina-catchcopy {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: black 1px solid;
}

body .mina .mina-contents .mina-right .mina-name {
  margin-left: 10%;
  color: forestgreen;
  width: 80%;
  border-bottom: 1px forestgreen dashed;
}

body .mina .mina-contents .mina-right .mina-introduction {
  margin-left: 10%;
  width: 80%;
  height: 150px;
  overflow: scroll;
}

body .kyoji {
  position: relative;
}

body .kyoji .kyoji-back {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .kyoji .kyoji-title {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 200%;
  color: white;
}

body .kyoji .kyoji-subtitle {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 120%;
  color: white;
}

body .kyoji .kyoji-contents {
  position: absolute;
  left: 5%;
  top: 30%;
  width: 90%;
  height: 300px;
  background-color: white;
}

body .kyoji .kyoji-contents .kyoji-img {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  height: 80%;
  margin-left: 5%;
  margin-top: 3%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 0;
     object-position: 20% 0;
}

body .kyoji .kyoji-contents .kyoji-right {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-top: 5%;
  padding-left: 5%;
}

body .kyoji .kyoji-contents .kyoji-right .kyoji-name {
  width: 90%;
  text-align: center;
}

body .kyoji .kyoji-contents .kyoji-right .kyoji-introduction {
  width: 90%;
  border-bottom: 1px solid  #CCCCCC;
  font-size: 80%;
}

body .friends {
  text-align: center;
  height: 600px;
}

body .friends .friends-title {
  font-size: 200%;
}

body .friends .friends-subtitle {
  font-size: 120%;
  color: forestgreen;
}

body .friends .friends-contents {
  position: absolute;
  top: 0;
  left: 15%;
  vertical-align: middle;
  width: 70%;
  height: 300px;
  border: 1px #CCCCCC solid;
  background-color: white;
}

body .friends .friends-contents .friends-img {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  height: 80%;
  margin-top: 5%;
  margin-left: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .friends .friends-contents .friends-right {
  margin-left: 5%;
  width: 45%;
  vertical-align: top;
  display: inline-block;
}

body .friends .friends-contents .friends-right .friends-name {
  margin-top: 20%;
  color: forestgreen;
  width: 80%;
  border-bottom: 1px forestgreen dashed;
}

body .friends .friends-contents .friends-right .friends-introduction {
  width: 80%;
  text-align: left;
}

body .allow-left {
  display: inline-block;
  position: absolute;
  top: 120px;
  left: 5%;
  width: 5%;
  height: auto;
  margin-right: 5%;
}

body .allow-left:hover {
  opacity: 0.5;
  cursor: pointer;
}

body .allow-right {
  display: inline-block;
  position: absolute;
  top: 120px;
  right: 5%;
  width: 5%;
  height: auto;
  margin-left: 5%;
}

body .allow-right:hover {
  opacity: 0.5;
  cursor: pointer;
}

body .menchan {
  display: inline-block;
}

body .korira {
  display: inline-block;
}

body .shiro {
  display: inline-block;
}

body .overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

body .overlay .contents {
  width: 60%;
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  margin-top: 0;
  background-color: forestgreen;
  height: 50px;
  margin-top: -5%;
  padding-top: 5%;
}

footer .foot {
  text-align: center;
  color: white;
}

.fade-enter-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.fade-enter {
  opacity: 0;
}
/*# sourceMappingURL=company.css.map */